@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
body {
  background-color: gray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  line-height: 0;
}

.holder {
  max-width: 1472px;
  margin: 0 auto;
  padding: 0 50px;
}

.banner-wrap {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding-bottom: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.banner-wrap > .holder {
  width: 100%;
}
.banner-wrap > .holder .bannner-desc {
  max-width: 712px;
}
.banner-wrap > .holder .bannner-desc h2 {
  color: #fff;
  font-size: 70px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 81px;
  letter-spacing: 0.2px;
}

.header-wrapper {
  position: relative;
}
.header-wrapper .header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
}
.header-wrapper .header > .holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-wrapper .header > .holder .header_logo {
  max-width: 16%;
  flex-basis: 16%;
}
.header-wrapper .header > .holder .header_logo a {
  text-decoration: none;
}
.header-wrapper .header > .holder .header_logo a img {
  min-width: 212px;
}
.header-wrapper .header > .holder .header_right {
  max-width: 84%;
  flex-basis: 84%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-wrapper .header > .holder .header_right .nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}
.header-wrapper .header > .holder .header_right .nav-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.1px;
}
.header-wrapper .header > .holder .header_right .header_profile {
  max-width: 18px;
  margin-left: 24px;
}
.header-wrapper .header > .holder .header_right .hamburger {
  margin-left: 24px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  position: relative;
  z-index: 99;
}
.hamburger i {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  transition: 0.5s;
}
.hamburger i + i {
  margin-top: 6px;
}

.open-nav .holder .header_right .hamburger i:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}
.open-nav .holder .header_right .hamburger i:nth-child(2) {
  opacity: 0;
}
.open-nav .holder .header_right .hamburger i:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #061934;
  width: 100%;
  max-height: 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: 0.5s ease-in-out;
}
.nav-wrapper .holder .nav-header {
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #ff5400;
}
.nav-wrapper .holder .nav-header .nav-header_logo {
  max-width: 16%;
}
.nav-wrapper .holder .nav-header .nav-header_logo img {
  min-width: 212px;
}
.nav-wrapper .holder .main-nav-wrapper {
  padding: 39px 0;
  width: 100%;
}
.nav-wrapper .holder .main-nav-wrapper .main-menu {
  list-style: none;
}
.nav-wrapper .holder .main-nav-wrapper .main-menu li + li {
  margin-top: 20px;
}
.nav-wrapper .holder .main-nav-wrapper .main-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  opacity: 0.5;
}
.nav-wrapper .holder .main-nav-wrapper .main-menu li a:hover {
  opacity: 1;
}

.open-nav .nav-wrapper {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */